@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .custom-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: auto;
    }


    .custom-modal-content {
        background-color: white;
        margin: 2% auto;
        padding: 20px;
        border-radius: 8px;
        width: 95%;
        max-width: 1400px;
        height: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }

    .custom-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

        .custom-modal-header h2 {
            margin: 0;
        }

    .custom-modal-close {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }

    .custom-modal-body {
        flex-grow: 1;
        overflow-y: auto;
        margin-top: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
    }

    .row-infor {
        font-size: 22px;
    }

    table th,
    table td {
        font-size: 18px !important;
    }

    table tr td {
        padding: 3px !important;
    }

    table tr th {
        padding: 4px 0px !important;
    }

    .inputCham {
        width: 100%;
        font-size: 13pt;
        background-color: transparent;
        border: none;
        border-bottom: 2px dotted #000;
        outline: none;
        padding: 0;
        margin-bottom: 5px;
    }

    .inputCheckBox {
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        outline: none;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 13pt;
    }

    .inputTxt {
        font-size: 13pt;
        width: 100%;
        height: 25px;
    }

    .input-lines {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px dotted #000;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px 0;
        font-size: 16px;
        resize: none;
        outline: none;
    }
</style>

<h1>Danh sách bệnh án ngoại mắt</h1>
<!-- Nút mở modal -->
<button onclick="openModal()" style="margin-bottom: 20px;">Thêm mới</button>

<!-- Modal -->
<div id="customModal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h2>Thêm mới bệnh án ngoại mắt</h2>
            <span class="custom-modal-close" onclick="closeModal()">&times;</span>
        </div>
        <div class="custom-modal-body">
            <form id="baNgoaiTruMatForm">
                <div class="w-100 row-infor flex">
                    <div class="flex-column w-25">
                        <div class="flex w-100">
                            <div class="text-start w-50">
                                Cơ quan chủ quản:
                            </div>
                            <div class="w-40">
                                <input class="inputCham" id="Tencoquanchuquan" name="Tencoquanchuquan" type="text"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="text-start w-45">
                                Cơ sở KB, CB:
                            </div>
                            <div class="w-45">
                                <input class="inputCham" id="Tencosokbcb" name="Tencosokbcb" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <h2 class="text-uppercase text-center mb-15 mt-15" style="font-weight: 700;">
                            BỆNH ÁN <br> NGOẠI TRÚ MẮT
                        </h2>
                    </div>
                    <div class="text-end w-25 fs-22">
                        <div>
                            <em>MS: BA-17&nbsp;</em>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            A. THÔNG TIN CHUNG </br>
                            I. HÀNH CHÍNH
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex justify-content-between w-100">
                            <div class="w-15">
                                1. Họ và tên <i>(In hoa)</i>:
                            </div>
                            <div class="w-85">
                                <input class="inputCham" id="hoVaTen" name="hoVaTen" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-50">
                                <div class="flex">
                                    <div class="w-20 text-start">
                                        2. Ngày sinh:
                                    </div>
                                    <div class="w-65">
                                        <input class="inputCham" id="ngaySinh" name="ngaySinh" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-30 flex justify-content-start">
                                        <div class="w-30 text-start">
                                            &nbsp;Tuổi:
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-30 text-start">
                                        3. Giới tính:
                                    </div>
                                    <div class="w-20 flex justify-content-end">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Nam
                                    </div>
                                    <div class="w-20 flex justify-content-end">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Nữ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex">
                                    <div class="w-17 text-start">
                                        4. Điện thoại:
                                    </div>
                                    <div class="w-50">
                                        <input class="inputCham" id="dienThoai" name="dienThoai" type="text"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-25">
                                        5. Nghề nghiệp:
                                    </div>
                                    <div class="w-75">
                                        <input class="inputCham" id="ngheNghiep" name="ngheNghiep" type="text"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex">
                                    <div class="w-15 text-start">
                                        6. Dân tộc:
                                    </div>
                                    <div class="flex w-45">
                                        <input class="inputCham" id="danToc" name="danToc" type="text" placeholder="">
                                    </div>
                                    <div class="w-30 flex justify-content-start">
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-20">
                                        7. Quốc tịch:
                                    </div>
                                    <div class="w-68">
                                        <input class="inputCham" id="quocTich" name="quocTich" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-10 flex justify-content-between">
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex">
                                    <div class="flex w-50">
                                        <div class="w-45">
                                            8. Địa chỉ: Số nhà
                                        </div>
                                        <div class="w-55">
                                            <input class="inputCham" id="soNha" name="soNha" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="flex w-50">
                                        <div class="w-25">
                                            Thôn, phố
                                        </div>
                                        <div class="w-40">
                                            <input class="inputCham" id="thonPho" name="thonPho" type="text"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-20">
                                        Xã, phường:
                                    </div>
                                    <div class="w-58">
                                        <input class="inputCham" id="xaPhuong" name="xaPhuong" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-20 flex justify-content-between">
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex w-100">
                                    <div class="w-20 text-start">
                                        Huyện (Q, Tx):
                                    </div>
                                    <div class="w-45">
                                        <input class="inputCham" id="huyen" name="huyen" type="text" placeholder="">
                                    </div>
                                    <div class="w-25 flex justify-content-start">
                                        <div class="w-30 text-start"></div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex w-100">
                                    <div class="w-25 text-start">
                                        Tỉnh, thành phố:&nbsp;
                                    </div>
                                    <div class="w-65">
                                        <input class="inputCham" id="thanhPho" name="thanhPho" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-5 flex justify-content-between">
                                        <div class="w-5 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-5 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                9. Đối tượng:
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="bhyt" name="doiTuong" value="BHYT" type="checkbox"
                                       placeholder="">
                                BHYT
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="thuPhi" name="doiTuong" value="Thu Phí" type="checkbox"
                                       placeholder="">
                                Thu phí
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="mien" name="doiTuong" value="Miễn" type="checkbox"
                                       placeholder="">
                                Miễn
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="khac" name="doiTuong" value="Khác" type="checkbox"
                                       placeholder="">
                                Khác
                            </div>
                        </div>
                        <div class="flex w-50">
                            <div class="w-25">
                                10. Số thẻ BHYT:
                            </div>
                            <div class="w-75">
                                <input class="inputCham" id="soTheBHYT" name="soTheBHYT" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-32">
                                11. Số Căn cước/Hộ chiếu/Số định danh cá nhân:
                            </div>
                            <div class="w-53">
                                <input class="inputCham" id="canCuoc" name="canCuoc" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-32">
                                12. Họ và tên thân nhân của NB khi cần báo tin:
                            </div>
                            <div class="w-25">
                                <input class="inputCham" id="hoTenThanNha" name="hoTenThanNhan" type="text"
                                       placeholder="">
                            </div>
                            <div class="w-8">
                                Điện thoại:
                            </div>
                            <div class="w-20">
                                <input class="inputCham" id="dienThoaiThanNhan" name="dienThoaiThanNhan" type="text"
                                       placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            B. THÔNG TIN KHÁM BỆNH
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex w-100">
                            <div class="w-42" style="font-size: 20px;">
                                <b>I. LÝ DO VÀO VIỆN, VẤN ĐỀ SỨC KHỎE:</b>
                            </div>
                            <div class="w-58">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            II. Hỏi bệnh
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>1. Quá trình bệnh lý và diễn biến lâm sàng:</b>
                                <i>(Đặc điểm khởi phát, các triệu chứng lâm sàng, diễn biến bệnh...)</i>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="flex w-100 text-bold">
                            2. Tiền sử có liên quan đến tình trạng bệnh lần này:
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                Dị ứng:
                            </div>
                            <div class="w-18">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Không
                            </div>
                            <div class="flex w-65">
                                <div class="w-22">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ:
                                </div>
                                <div class="w-80">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                Tại mắt:
                            </div>
                            <div class="w-18">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Không
                            </div>
                            <div class="flex w-65">
                                <div class="w-22">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ:
                                </div>
                                <div class="w-80">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                Bản thân:
                            </div>
                            <div class="w-18">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Không
                            </div>
                            <div class="flex w-65">
                                <div class="w-22">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ:
                                </div>
                                <div class="w-80">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                Gia đình:
                            </div>
                            <div class="w-18">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Không
                            </div>
                            <div class="flex w-65">
                                <div class="w-22">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ:
                                </div>
                                <div class="w-80">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            III. KHÁM BỆNH
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="w-15 text-bold">
                            1. Bệnh Mắt:
                        </div>
                        <div class="table">
                            <table class="w-100 border-0">
                                <thead>
                                    <tr class="text-center ">
                                        <td class="w-43 text-bold border-0">MẮT PHẢI</td>
                                        <td class="w-14 text-bold border-0">BỘ PHẬN</td>
                                        <td class="w-43 text-bold border-0">MẮT TRÁI</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 100px;">
                                        <td class="w-43 border-0"></td>
                                        <td class="w-14 text-center border-0">
                                            <b>Thị lực</b><br>Không kính<br>Có kính<br><b>Nhãn áp</b>
                                            <input class="inputCham" type="text" placeholder="">
                                        </td>
                                        <td class="w-43 border-0"></td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Hốc mắt</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Tình trạng nhãn cầu</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Vận nhãn</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Lệ đạo</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Mi mắt</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Kết mạc</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Giác mạc</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Củng mạc</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <img style="height:150px;margin-right: 15px; width:350px"
                                                 src="/img/matphai.png" />
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Hình vẽ mô tả</td>
                                        <td class="w-43 border-0">
                                            <img style="height:150px;margin-right: 15px; width:350px"
                                                 src="/img/mattrai.png" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Tiền Phòng</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center text-bold border-0">Mống mắt</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center border-0">
                                            <b>Đồng tử</b><br><i>
                                                (Phản xạ, hình dạng, kích thước, ánh
                                                đồng tử...)
                                            </i>
                                        </td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center border-0 text-bold">Thể thủy <br> tinh</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center border-0 text-bold">Dịch kính</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <img style="height:150px;margin-right: 15px; width:150px"
                                                     src="/img/matphai2.jpeg" />
                                            </div>
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-14 text-center border-0 text-bold">Đáy mắt</td>
                                        <td class="w-43 border-0">
                                            <div class="flex">
                                                <img style="height:150px;margin-right: 15px; width:150px"
                                                     src="/img/mattrai2.jpeg" />
                                            </div>
                                            <div class="flex">
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bình thường
                                                </div>
                                                <div class="w-50">
                                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                                    Bất thường
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <div class="w-15">Mô tả:</div>
                                                <div class="w-80">
                                                    <input class="inputCham" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex w-100">
                            <div class="flex-column w-70">
                                <div class="flex w-100">
                                    <div class="w-22 text-bold">
                                        2. Toàn thân:
                                    </div>
                                    <div class="w-45">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Chưa phát hiện bất thường
                                    </div>
                                    <div class="w-30">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Bất thường, ghi rõ:
                                    </div>
                                </div>
                                <div class="flex w-95">
                                    <textarea class="input-lines" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="flex w-30 border fs-20" style="font-style: italic;">
                                <div class="flex-column w-80 ml-5">
                                    <div class="flex">
                                        <div class="w-26">
                                            Mạch:
                                        </div>
                                        <div class="w-50">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        lần/ph
                                    </div>
                                    <div class="flex">
                                        <div class="w-38">
                                            Nhiệt độ:
                                        </div>
                                        <div class="w-45">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        ℃
                                    </div>
                                    <div class="flex">
                                        <div class="w-40">
                                            Huyết áp:
                                        </div>
                                        <div class="w-45">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        mmHg
                                    </div>
                                    <div class="flex">
                                        <div class="w-40">
                                            Nhịp thở:
                                        </div>
                                        <div class="w-45">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        lần/ph
                                    </div>
                                    <div class="flex">
                                        <div class="w-45">
                                            Cân nặng:
                                        </div>
                                        <div class="w-45">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        kg
                                    </div>
                                    <div class="flex">
                                        <div class="w-45">
                                            Chiều cao:
                                        </div>
                                        <div class="w-45">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        Cm
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex">
                                <div class="w-30 text-bold">3. Các xét nghiệm cần làm:</div>
                                <div class="w-15">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Không
                                </div>
                                <div class="w-40">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ:
                                </div>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex text-bold">
                                4. Tóm tắt bệnh án:
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            IV. CHẨN ĐOÁN (Tên bệnh và mã ICD kèm theo)
                        </h3>
                    </div>
                </div>
                <div class="row-infor card">
                    <div class="row-info">
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-15">
                                Bệnh chính (MP, MT):
                            </div>
                            <div class="w-70">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-22">
                                Bệnh kèm theo MP, MT (nếu có):
                            </div>
                            <div class="w-63">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-20">
                                Biến chứng MP, MT (nếu có):
                            </div>
                            <div class="w-65">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            V. TIÊN LƯỢNG
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            <div class="flex">
                                <div class="w-16">
                                    Tiên lượng gần:
                                </div>
                                <div class="w-84">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="flex">
                                <div class="w-16">
                                    Tiên lượng xa:
                                </div>
                                <div class="w-84">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            VI. KẾ HOẠCH ĐIỀU TRỊ
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            <div class="flex">
                                <div class="w-25">
                                    Hướng điều trị tiếp theo:
                                </div>
                                <div class="w-75">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="flex-column w-100">
                                <div class="flex w-70">
                                    <div class="w-100">
                                        Tư vấn, giáo dục sức khỏe cho người bệnh và thân nhân của người bệnh:
                                    </div>
                                    <div class=" w-20">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Không
                                    </div>
                                    <div class="w-20">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Có, ghi rõ:
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-avoid mt-2">
                    <div class="row-infor flex w-100 text-center mt-25">
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                <em>
                                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                                </em>
                            </div>
                            <div class="text-bold justify-content-center">
                                Bác sỹ điều trị
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, ghi rõ họ tên)</em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                <em>
                                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                                </em>
                            </div>
                            <div class="text-bold justify-content-center">
                                Đại diện cơ sở KB, CB
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, đóng dấu) </em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card" style="height: 6%;">
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            C. TỔNG KẾT BỆNH ÁN
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            <div class="w-30 text-bold">
                                1. Chẩn đoán khi ra viện:
                            </div>
                            <div class="flex-column w-100">
                                <div class="flex">
                                    <div class="w-5">
                                        MP:
                                    </div>
                                    <div class=" w-95">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="w-5">
                                        MT:
                                    </div>
                                    <div class=" w-95">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="w-30 text-bold">
                                Phương pháp điều trị:
                            </div>
                            <div class="flex-column w-100">
                                <div class="flex w-70">
                                    <div class="w-15">
                                        Nội khoa:
                                    </div>
                                    <div class=" w-30">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Không
                                    </div>
                                    <div class="w-20">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Có, ghi rõ:
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="2"></textarea>
                                </div>
                                <div class="flex w-70">
                                    <div class="w-15">&nbsp;</div>
                                    <div class=" w-30">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Phẫu thuật
                                    </div>
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Thủ thuật thực hiện trên phòng phẫu thuật
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="w-30 text-bold">
                                2. Tình trạng ra viện:
                            </div>
                            <div class="flex-column w-100">
                                <div class="flex w-20">
                                    Toàn trạng:
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="2"></textarea>
                                </div>
                                <div class="flex w-20">
                                    Mắt phải:
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="1"></textarea>
                                </div>
                                <div class="flex w-20">
                                    Mắt trái:
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="flex w-100 fs-20">
                                <div class="flex-column w-50">
                                    <div class="flex">
                                        <div class="w-40">
                                            Thị lực ra viện:
                                        </div>
                                        <div class="w-10 ml-5">
                                            MP:
                                        </div>
                                        <div class="w-15">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        <div class="w-10 ml-5">
                                            MT:
                                        </div>
                                        <div class="w-15">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="w-40">
                                            Thị lực chỉnh kính:
                                        </div>
                                        <div class="w-10 ml-5">
                                            MP:
                                        </div>
                                        <div class="w-15">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        <div class="w-10 ml-5">
                                            MT:
                                        </div>
                                        <div class="w-15">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-column w-50">
                                    <div class="flex">
                                        <div class="w-40">
                                            Nhãn áp ra viện:
                                        </div>
                                        <div class="w-10 ml-5">
                                            MP:
                                        </div>
                                        <div class="w-15">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        <div class="w-10 ml-5">
                                            mmHg
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <div class="w-40">&nbsp;</div>
                                        <div class="w-10 ml-5">
                                            MT:
                                        </div>
                                        <div class="w-15">
                                            <input class="inputCham" type="text" placeholder="">
                                        </div>
                                        <div class="w-10 ml-5">
                                            mmHg
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-column w-100">
                                <div class="flex w-50 text-bold">
                                    3. Hướng điều trị và các chế độ tiếp theo:
                                </div>
                                <div class="flex w-100">
                                    <textarea class="input-lines" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-avoid mt-2">
                    <div class="row-infor flex w-100 text-center mt-25">
                        <div class="w-50">
                        </div>
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                <em>
                                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                                </em>
                            </div>
                            <div class="text-bold justify-content-center">
                                Bác sỹ điều trị
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, ghi rõ họ tên)</em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit">Thêm</button>
            </form>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Họ và Tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="BANgoaiTruMatTable">
    </tbody>
</table>

<script>
        // Load data from API
        function loadBANgoaiTruMat() {
            $.ajax({
                url: '/QuanLy/BA_NgoaiTruMat/DanhSachBenhAnNgoaiTruMat',
                type: 'POST',
                success: function (data) {
                    let rows = '';
                    data.forEach(ngoaiTruMat => {
                        rows += `
                            <tr>
                                <td>${ngoaiTruMat.benhNhanId}</td>
                                <td>${ngoaiTruMat.hoVaTen}</td>
                                <td>${ngoaiTruMat.gioiTinh}</td>
                                <td>${ngoaiTruMat.ngaySinh}</td>
                                <td>
                                    <button onclick="editNgoaiTruMat(${ngoaiTruMat.benhNhanId})">Sửa</button>
                                    <button onclick="deleteNgoaiTruMat(${ngoaiTruMat.benhNhanId})">Xóa</button>
                                    <button onclick="pdfNgoaiTruMat(${ngoaiTruMat.benhNhanId})">In PDF</button>
                                </td>
                            </tr>
                        `;
                    });
                    $('#BANgoaiTruMatTable').html(rows);
                },
                error: function (xhr) {
                    alert('Lỗi khi tải dữ liệu: ' + xhr.responseText);
                }
            });
        }
    $('#baNgoaiTruMatForm').on('submit', function (e) {
        e.preventDefault();
        const gioiTinh = $('input[name="gioiTinh"]:checked').val();

        const ngoaiTruMat = {
            hoVaTen: $('#hoVaTen').val(),
            gioiTinh: gioiTinh,
            ngaySinh: $('#ngaySinh').val(),
            ghiChu: $('#ghiChu').val()
        };

        $.ajax({
            url: '/QuanLy/Person/ThemPerson',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(ngoaiTruMat),
            success: function (response) {
                alert('Thêm thành công!');
                loadBANgoaiTruMat();
                $('#baNgoaiTruMatForm')[0].reset(); // Reset form
                closeModal();
            },
            error: function (xhr) {
                alert('Lỗi khi thêm dữ liệu: ' + xhr.responseText);
            }
        });
    });


    // Delete person
    function deleteNgoaiTruMat(id) {
        if (!confirm('Bạn có chắc chắn muốn xóa?')) return;

        $.ajax({
            url: `/api/persons/${id}`,
            type: 'DELETE',
            success: function () {
                alert('Xóa thành công!');
                loadBANgoaiTruMat();
            },
            error: function (xhr) {
                alert('Lỗi khi xóa: ' + xhr.responseText);
            }
        });
    }

    // Edit person (populate form with data)
    function editNgoaiTruMat(id) {
        $.ajax({
            url: `/api/persons/${id}`,
            type: 'GET',
            success: function (person) {
                $('#fullName').val(person.fullName);
                $('#gender').val(person.gender);
                $('#birthDate').val(person.birthDate);
                $('#note').val(person.note);
            },
            error: function (xhr) {
                alert('Lỗi khi tải dữ liệu: ' + xhr.responseText);
            }
        });
    }

    // Refresh button
    $('#btnRefresh').on('click', function () {
        $('#baNgoaiTruMatForm')[0].reset();
    });

    // Load persons on page load
    $(document).ready(function () {
        loadBANgoaiTruMat();
    });
</script>

<script>
    // Mở modal
    function openModal() {
        document.getElementById('customModal').style.display = 'block';
    }

    // Đóng modal
    function closeModal() {
        document.getElementById('customModal').style.display = 'none';
    }

    // Đóng modal khi nhấn vào bất kỳ nơi nào bên ngoài nội dung modal
    window.onclick = function (event) {
        const modal = document.getElementById('customModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    };

</script>