@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .custom-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: auto;
    }


    .custom-modal-content {
        background-color: white;
        margin: 2% auto;
        padding: 20px;
        border-radius: 8px;
        width: 95%;
        max-width: 1400px;
        height: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }
    .custom-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

        .custom-modal-header h2 {
            margin: 0;
        }
    .custom-modal-close {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }
    .custom-modal-body {
        flex-grow: 1;
        overflow-y: auto;
        margin-top: 20px;
    }
    form {
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
    }

    .row-infor {
        font-size: 22px;
    }

    table th,
    table td {
        font-size: 18px !important;
    }

    table tr td {
        padding: 3px !important;
    }

    table tr th {
        padding: 4px 0px !important;
    }

    .inputCham {
        width: 100%;
        font-size: 13pt;
        background-color: transparent;
        border: none;
        border-bottom: 2px dotted #000;
        outline: none;
        padding: 0;
        margin-bottom: 5px;
    }

    .inputCheckBox {
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        outline: none;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 13pt;
    }

    .inputTxt {
        font-size: 13pt;
        width: 100%;
        height: 25px;
    }

    .input-lines {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px dotted #000;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px 0;
        font-size: 16px;
        resize: none;
        outline: none;
    }
</style>

<h1>Danh sách bệnh án phụ khoa</h1>
<!-- Nút mở modal -->
<button onclick="openModal()" style="margin-bottom: 20px;">Thêm mới</button>

<!-- Modal -->
<div id="customModal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="custom-modal-header">
            <h2>Thêm mới bệnh án phụ khoa</h2>
            <span class="custom-modal-close" onclick="closeModal()">&times;</span>
        </div>
        <div class="custom-modal-body">
            <form id="baPhuKhoaForm">
                <div class="w-100 row-infor flex">
                    <div class="flex-column w-25">
                        <div class="flex w-100">
                            <div class="text-start w-50">
                                Cơ quan chủ quản:
                            </div>
                            <div class="w-40">
                                <input class="inputCham" id="Tencoquanchuquan" name="Tencoquanchuquan" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="text-start w-45">
                                Cơ sở KB, CB:
                            </div>
                            <div class="w-45">
                                <input class="inputCham" id="Tencosokbcb" name="Tencosokbcb" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="w-50">
                        <h2 class="text-uppercase text-center mb-15 mt-15" style="font-weight: 700;">
                            BỆNH ÁN PHỤ KHOA
                        </h2>
                    </div>
                    <div class="text-end w-25 fs-22">
                        <div>
                            <em>MS: BA-06&nbsp;</em>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            A. THÔNG TIN CHUNG </br>
                            I. HÀNH CHÍNH
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex justify-content-between w-100">
                            <div class="w-15">
                                1. Họ và tên <i>(In hoa)</i>:
                            </div>
                            <div class="w-85">
                                <input class="inputCham" id="hoVaTen" name="hoVaTen" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-50">
                                <div class="flex">
                                    <div class="w-20 text-start">
                                        2. Ngày sinh:
                                    </div>
                                    <div class="w-65">
                                        <input class="inputCham" id="ngaySinh" name="ngaySinh" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-30 flex justify-content-start">
                                        <div class="w-30 text-start">
                                            &nbsp;Tuổi:
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex">
                                    <div class="w-17 text-start">
                                        3. Điện thoại:
                                    </div>
                                    <div class="w-50">
                                        <input class="inputCham" id="dienThoai" name="dienThoai" type="text"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-25">
                                        4. Nghề nghiệp:
                                    </div>
                                    <div class="w-75">
                                        <input class="inputCham" id="ngheNghiep" name="ngheNghiep" type="text"
                                               placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex">
                                    <div class="w-15 text-start">
                                        5. Dân tộc:
                                    </div>
                                    <div class="flex w-45">
                                        <input class="inputCham" id="danToc" name="danToc" type="text" placeholder="">
                                    </div>
                                    <div class="w-30 flex justify-content-start">
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-20">
                                        6. Quốc tịch:
                                    </div>
                                    <div class="w-68">
                                        <input class="inputCham" id="quocTich" name="quocTich" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-10 flex justify-content-between">
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex">
                                    <div class="flex w-50">
                                        <div class="w-45">
                                            7. Địa chỉ: Số nhà
                                        </div>
                                        <div class="w-55">
                                            <input class="inputCham" id="soNha" name="soNha" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="flex w-50">
                                        <div class="w-25">
                                            Thôn, phố
                                        </div>
                                        <div class="w-40">
                                            <input class="inputCham" id="thonPho" name="thonPho" type="text"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex">
                                    <div class="w-20">
                                        Xã, phường:
                                    </div>
                                    <div class="w-58">
                                        <input class="inputCham" id="xaPhuong" name="xaPhuong" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-20 flex justify-content-between">
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-content-between w-100">
                            <div class="w-55">
                                <div class="flex w-100">
                                    <div class="w-20 text-start">
                                        Huyện (Q, Tx):
                                    </div>
                                    <div class="w-45">
                                        <input class="inputCham" id="huyen" name="huyen" type="text" placeholder="">
                                    </div>
                                    <div class="w-25 flex justify-content-start">
                                        <div class="w-30 text-start"></div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-15 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-45">
                                <div class="flex w-100">
                                    <div class="w-25 text-start">
                                        Tỉnh, thành phố:&nbsp;
                                    </div>
                                    <div class="w-65">
                                        <input class="inputCham" id="thanhPho" name="thanhPho" type="text"
                                               placeholder="">
                                    </div>
                                    <div class="w-5 flex justify-content-between">
                                        <div class="w-5 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                        <div class="w-5 text-start">
                                            <input class="inputCheckBox" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                8. Đối tượng:
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="bhyt" name="doiTuong" value="BHYT" type="checkbox"
                                       placeholder="">
                                BHYT
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="thuPhi" name="doiTuong" value="Thu Phí" type="checkbox"
                                       placeholder="">
                                Thu phí
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="mien" name="doiTuong" value="Miễn" type="checkbox"
                                       placeholder="">
                                Miễn
                            </div>
                            <div class="w-13">
                                <input class="inputCheckBox" id="khac" name="doiTuong" value="Khác" type="checkbox"
                                       placeholder="">
                                Khác
                            </div>
                        </div>
                        <div class="flex w-50">
                            <div class="w-25">
                                9. Số thẻ BHYT:
                            </div>
                            <div class="w-75">
                                <input class="inputCham" id="soTheBHYT" name="soTheBHYT" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-32">
                                10. Số Căn cước/Hộ chiếu/Số định danh cá nhân:
                            </div>
                            <div class="w-53">
                                <input class="inputCham" id="canCuoc" name="canCuoc" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-32">
                                11. Họ và tên thân nhân của NB khi cần báo tin:
                            </div>
                            <div class="w-25">
                                <input class="inputCham" id="hoTenThanNha" name="hoTenThanNhan" type="text" placeholder="">
                            </div>
                            <div class="w-8">
                                Điện thoại:
                            </div>
                            <div class="w-20">
                                <input class="inputCham" id="dienThoaiThanNhan" name="dienThoaiThanNhan" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            II. QUẢN LÝ NGƯỜI BỆNH
                        </h3>
                    </div>
                </div>

                <div class="row-infor card text-start">
                    <div class="row-info border">
                        <div class="flex w-100">
                            <div class="flex-column w-55 border-right">
                                <div class="flex w-60 ml-5">
                                    <div class="w-40">
                                        1. Vào viện:&nbsp;
                                    </div>
                                    <div class="w-30">
                                        <input class="inputCham" id="thoiGianVaoVien" name="thoiGianVaoVien" type="time" placeholder="">
                                    </div>
                                    &nbsp;ngày&nbsp;
                                    <div class="w-50">
                                        <input class="inputCham" id="khac" name="doiTuong" type="date" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100 ml-5">
                                    <div class="w-70">
                                        2. Tiếp nhận từ:&nbsp;
                                    </div>
                                    <div class="w-70">
                                        <input class="inputCheckBox" id="capCuu" name="tienNhanTu" value="Cấp cứu" type="checkbox" placeholder="">
                                        Cấp cứu
                                    </div>
                                    <div class="w-70">
                                        <input class="inputCheckBox" id="khoaKB" name="tienNhanTu" value="Khoa KB" type="checkbox" placeholder="">
                                        Khoa KB
                                    </div>
                                    <div class="w-70">
                                        <input class="inputCheckBox" id="donViKhac" name="tienNhanTu" value="Đơn vị khác" type="checkbox" placeholder="">
                                        Đơn vị khác
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-60">&nbsp;</div>
                                    <div class="w-50">
                                        Khoa
                                    </div>
                                    <div class="w-30">
                                        Giờ
                                    </div>
                                    <div class="w-30">
                                        Ngày
                                    </div>
                                    <div class="w-30">
                                        Số ngày
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-30">
                                        4. Vào khoa:
                                    </div>
                                    <div class="w-30">
                                        <input class="inputTxt" id="vaoKhoa" name="vaoKhoa" type="text" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-20">
                                        <input class="inputCham" type="time" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-25">
                                        <input class="inputCham" id="thoiGianVaoKhoa" name="thoiGianVaoKhoa" type="date" placeholder="">
                                    </div>
                                    <div class="w-2">&nbsp;</div>
                                    <div class="w-23">
                                        <input class="inputTxt" id="soNgayaoKhoa" name="soNgayVaoKhoa" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-30">
                                        5. Chuyển khoa:
                                    </div>
                                    <div class="w-30">
                                        <input class="inputTxt" id="chuyenKhoa" name="chuyenKhoa" type="text" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-20">
                                        <input class="inputCham" type="time" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-25">
                                        <input class="inputCham" id="thoiGianChuyenKhoa" name="thoiGianChuyenKhoa" type="date" placeholder="">
                                    </div>
                                    <div class="w-2">&nbsp;</div>
                                    <div class="w-23">
                                        <input class="inputTxt" id="soNgayChuyenKhoaKhoa" name="soNgayChuyenKhoaKhoa" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-30"></div>
                                    <div class="w-30">
                                        <input class="inputTxt" type="text" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-20">
                                        <input class="inputCham" type="time" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-25">
                                        <input class="inputCham" type="date" placeholder="">
                                    </div>
                                    <div class="w-2">&nbsp;</div>
                                    <div class="w-23">
                                        <input class="inputTxt" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-30">
                                    </div>
                                    <div class="w-30">
                                        <input class="inputTxt" type="text" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-20">
                                        <input class="inputCham" type="time" placeholder="">
                                    </div>
                                    <div class="w-5">&nbsp;</div>
                                    <div class="w-25">
                                        <input class="inputCham" type="date" placeholder="">
                                    </div>
                                    <div class="w-2">&nbsp;</div>
                                    <div class="w-23">
                                        <input class="inputTxt" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-84">6. Tổng số ngày điều trị:</div>
                                    <div class="w-16">
                                        <input class="inputTxt" id="tongSoNgayDieuTri" name="tongSoNgayDieuTri" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="flex-column w-45">
                                <div class="border-bottom">
                                    <div class="flex w-100 ml-5">
                                        <div class="w-30">
                                            3. Nơi chuyển đến:&nbsp;
                                        </div>
                                        <div class="w-60">
                                            <input class="inputCham" id="noiChuyenDen" name="noiChuyenDen" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="flex w-70 ml-5">
                                        <div class="w-95">
                                            Mã cơ sở KB, CB chuyển đến
                                        </div>
                                        <div class="w-40">
                                            <input class="inputTxt" id="macosokbcbchuyenden" name="macosokbcbchuyenden" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="flex w-100 ml-5">
                                    <div class="w-30">
                                        7. Nơi chuyển đi:&nbsp;
                                    </div>
                                    <div class="w-60">
                                        <input class="inputCham" id="noiChuyenDi" name="noiChuyenDi" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-70 ml-5">
                                    <div class="w-95">
                                        Mã cơ sở KB, CB chuyển đi
                                    </div>
                                    <div class="w-40">
                                        <input class="inputTxt" id="macosokbcbchuyendi" name="macosokbcbchuyendi" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100 ml-5">
                                    <div class="w-20">
                                        8. Ra viện:&nbsp;
                                    </div>
                                    <div class="w-20">
                                        <input class="inputCham" type="time" placeholder="">
                                    </div>
                                    &nbsp;ngày&nbsp;
                                    <div class="w-20">
                                        <input class="inputCham" id="thoiGianRaVien" name="thoiGianRaVien" type="date" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100 ml-5">
                                    <div class="w-50">
                                        <input class="inputCheckBox" id="raVien" name="lyDoRaVien" value="Ra viện" type="checkbox" placeholder="">
                                        Ra viện
                                    </div>
                                    <div class="w-60">
                                        <input class="inputCheckBox" id="xỉnaVien" name="lyDoRaVien" value="Xin ra viện" type="checkbox" placeholder="">
                                        Xin ra viện
                                    </div>
                                    <div class="w-70">
                                        <input class="inputCheckBox" id="trongVien" name="lyDoRaVien" value="Trốn viện" type="checkbox" placeholder="">
                                        Trốn viện
                                    </div>
                                </div>
                                <div class="flex w-100 ml-5">
                                    <input class="inputCheckBox" id="chuyenVienChuyenMon" name="lyDoRaVien" value="Chuyển viện theo yêu cầu chuyên môn" type="checkbox" placeholder="">
                                    Chuyển viện theo yêu cầu chuyên môn
                                </div>
                                <div class="flex w-100 ml-5">
                                    <input class="inputCheckBox" id="chuyenVienNguoiBenh" name="lyDoRaVien" value="Chuyển viện theo yêu cầu người bệnh" type="checkbox" placeholder="">
                                    Chuyển viện theo yêu cầu người bệnh
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title card flex">
                    <div class="w-25">
                        <h3 class="text-uppercase">
                            III. CHUẨN ĐOÁN
                        </h3>
                    </div>
                    <div class="w-50"></div>
                    <div class="w-25">
                        <h3 class="text-uppercase text-end">
                            MÃ
                        </h3>
                    </div>
                </div>

                <div class="row-infor card text-start">
                    <div class="row-info border">
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-15">
                                1. Chẩn đoán vào viện:
                            </div>
                            <div class="w-70">
                                <input class="inputCham" id="chuanDoanVaoVien" name="chuanDoanVaoVien" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" id="maChuanDoanVaoVien" name="maChuanDoanVaoVien" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-23">
                                2. Chẩn đoán ra viện:
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-8">
                                Bệnh chính:
                            </div>
                            <div class="w-77">
                                <input class="inputCham" id="benhChinh" name="benhChinh" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" id="maBenhChinh" name="maBenhChinh" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-11">
                                Bệnh kèm theo:
                            </div>
                            <div class="w-74">
                                <input class="inputCham" id="benhKemTheo" name="benhKemTheo" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" id="maBenhKemTheo" name="maBenhKemTheo" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-8">
                                Biến chứng:
                            </div>
                            <div class="w-77">
                                <input class="inputCham" id="bienChung" name="bienChung" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" id="maBienChung" name="maBienChung" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="flex ml-5 mt-10">
                                <div class="w-10">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                </div>
                                Thủ thuật &nbsp;
                                <div class="w-10">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                </div>
                                Phẩu thuật; &nbsp;
                            </div>
                            <div class="flex ml-5 mt-10">
                                <div class="w-50">
                                    Giải phẫu bệnh (khi có sinh thiết):
                                </div>
                                <div class="w-5">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                </div>
                                Lành tính &nbsp;
                                <div class="w-5">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                </div>
                                Nghi ngờ &nbsp;
                                <div class="w-5">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                </div>
                                Ác tính &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            IV. TÌNH TRẠNG RA VIỆN
                        </h3>
                    </div>
                </div>

                <div class="row-infor card text-start">
                    <div class="row-info border">
                        <div class="flex-column w-100">
                            <div class="flex ml-5 mt-10">
                                <div class="w-15">
                                    <input class="inputCheckBox" id="khoi" name="tinhTrangRaVien" value="Khỏi" type="checkbox" placeholder="">
                                    Khỏi
                                </div>
                                <div class="w-15">
                                    <input class="inputCheckBox" id="do" name="tinhTrangRaVien" value="Đỡ" type="checkbox" placeholder="">
                                    Đỡ
                                </div>
                                <div class="w-22">
                                    <input class="inputCheckBox" id="khongThayDoi" name="tinhTrangRaVien" value="Không thay đổi" type="checkbox" placeholder="">
                                    Không thay đổi
                                </div>
                                <div class="w-16">
                                    <input class="inputCheckBox" id="nangHon" name="tinhTrangRaVien" value="Nặng hơn" type="checkbox" placeholder="">
                                    Nặng hơn
                                </div>
                                <div class="w-27">
                                    <input class="inputCheckBox" id="tienLuongNang" name="tinhTrangRaVien" value="Tiên lượng nặng xin về" type="checkbox" placeholder="">
                                    Tiên lượng nặng xin về
                                </div>
                            </div>
                            <div class="flex ml-5 mt-10">
                                <div class="w-15">
                                    <input class="inputCheckBox" id="tuVong" name="tinhTrangRaVien" value="Tử vong" type="checkbox" placeholder="">
                                    Tử vong
                                </div>
                                <div class="w-20">
                                    <input class="inputCheckBox" id="chuaXacDinh" name="tinhTrangRaVien" value="Chưa xác định" type="checkbox" placeholder="">
                                    Chưa xác định
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100 " style="height: 12%;">
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            V. TÌNH HÌNH TỬ VONG
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info border">
                        <div class="flex w-60 ml-5">
                            <div class="w-20">
                                1. Tử vong lúc:
                            </div>
                            <div class="w-15">
                                <input class="inputCham" type="time" placeholder="">
                            </div>
                            <div class="w-8">
                                Ngày
                            </div>
                            <div class="w-20">
                                <input class="inputCham" id="thoiGianTuVong" name="thoiGianTuVong" type="date" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5">
                            <div class="w-25">
                                2. Thời điểm tử vong:
                            </div>
                            <div class="w-25">
                                <input class="inputCheckBox" id="truocKhiRaVien" name="thoiDiemTuVong" value="Trước khi vào viện" type="checkbox" placeholder="">
                                Trước khi vào viện
                            </div>

                            <div class="flex-column w-50">
                                <div class="w-100">
                                    <input class="inputCheckBox" id="trong24H" name="thoiDiemTuVong" value="Trong 24 giờ kể từ khi vào viện" type="checkbox" placeholder="">
                                    Trong 24 giờ kể từ khi vào viện
                                </div>
                                <div class="w-100">
                                    <input class="inputCheckBox" id="sau24H" name="thoiDiemTuVong" value="Sau 24 giờ kể từ khi vào viện" type="checkbox" placeholder="">
                                    Sau 24 giờ kể từ khi vào viện
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100 ml-5">
                            <div class="w-23">
                                3. Nguyên nhân chính gây tử vong:
                            </div>
                            <div class="w-62">
                                <input class="inputCham" id="nguyenNhanChinhTuVong" name="nguyenNhanChinhTuVong" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" id="ManguyenNhanChinhTuVong" name="ManguyenNhanChinhTuVong" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-avoid mt-2">
                    <div class="row-infor flex w-100 text-center mt-25">
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                &nbsp;
                            </div>
                            <div class="text-bold justify-content-center">
                                Lãnh đạo khoa
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, ghi rõ họ tên)</em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                <em>
                                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                                </em>
                            </div>
                            <div class="text-bold justify-content-center">
                                Đại diện cơ sở KB, CB
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, đóng dấu)</em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            B. THÔNG TIN KHÁM BỆNH
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex-column">
                            <div class="flex w-100">
                                <div class="w-30" style="font-size: 20px;">
                                    <b>I. LÝ DO VÀO VIỆN, VẤN ĐỀ SỨC KHỎE:</b>
                                </div>
                                <div class="w-70">
                                    <input class="inputCham" id="lyDoVaoVien" name="lyDoVaoVien" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="flex w-100">
                                <div class="flex w-40">
                                    Vào:&nbsp;
                                    <div class="w-30">
                                        <input class="inputCheckBox" id="gioThu" name="tinhTrangVao" value="Giờ thứ" type="checkbox" placeholder="">
                                        Giờ thứ
                                    </div>
                                    <div class="w-18">
                                        <input class="inputCham" id="gioThu" name="gioThu" type="text" placeholder="">
                                    </div>
                                    của bệnh
                                </div>
                                <div class="flex w-30">
                                    <div class="w-40">
                                        <input class="inputCheckBox" id="ngayThu" name="tinhTrangVao" value="Ngày thứ" type="checkbox" placeholder="">
                                        Ngày thứ
                                    </div>
                                    <div class="w-18">
                                        <input class="inputCham" id="ngayThu" name="ngayThu" type="text" placeholder="">
                                    </div>
                                    của bệnh
                                </div>
                                <div class="w-15">
                                    <input class="inputCheckBox" id="khongRo" name="tinhTrangVao" value="Không rõ" type="checkbox" placeholder="">
                                    Không rõ.
                                </div>
                            </div>
                            <div class="flex w-100">
                                <div class="flex w-40">
                                    Mục đích khám
                                    <div class="w-40" style="margin-left: 40px;">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Khám bệnh
                                    </div>
                                </div>
                                <div class="flex w-40">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Khám sàng lọc
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            II. Hỏi bệnh
                        </h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>1. Quá trình bệnh lý và diễn biến lâm sàng:</b>
                                <i>(Đặc điểm khởi phát, các triệu chứng lâm sàng, diễn biến bệnh...)</i>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <div class="w-72">
                                    Chẩn đoán và điều trị của cơ sở khám bệnh, chữa bệnh khác trước khi đến:
                                </div>
                                <div class="w-14">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Không
                                </div>
                                <div class="w-14">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ:
                                </div>
                            </div>
                            <div class="flex w-100">
                                <div class="w-100">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="w-21 text-bold">
                            2. Các cơ quan
                        </div>
                        <div class="flex w-100">
                            <div class="flex-column w-50">
                                <div>
                                    <i>2.1. Phụ khoa:</i>
                                </div>
                                <div class="flex w-100">
                                    Bắt đầu có kinh:
                                    <div class="w-64">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Chu kỳ:
                                    <div class="w-80">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Số ngày có kinh:
                                    <div class="w-64">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex-column w-100">
                                    Các bệnh phụ khoa đã mắc và điều trị:
                                    <div class="w-95">
                                        <textarea class="input-lines" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-column w-50">
                                <div>
                                    <i>2.2. Sản khoa:</i>
                                </div>
                                <div class="flex w-100">
                                    Số lần có thai:
                                    <div class="w-74">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Số lần sảy:
                                    <div class="w-80">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Số lần phá thai:
                                    <div class="w-71">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Số lần sinh:
                                    <div class="w-79">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Cách thức sinh:
                                    <div class="w-72">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    Số con sống:
                                    <div class="w-77">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <em>2.3. Tiền sử Nội, Ngoại khoa (ghi rõ bệnh đã mắc và cách điều trị)</em>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>3. Bệnh sử:</b>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            III. KHÁM BỆNH
                        </h3>
                        </br>
                        <h3>1. Khám toàn thân</h3>
                    </div>
                </div>
                <div class="row-infor card text-start">
                    <div class="row-info">
                        <div class="flex w-100">
                            Da
                            <div class="w-20">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            Niêm mạc
                            <div class="w-13">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            Phù
                            <div class="w-20">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            Xuất huyết
                            <div class="w-20">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="flex w-23">
                                Mạch
                                <div class="w-20">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                                lần/phút
                            </div>
                            <div class="flex w-22">
                                Nhiệt độ
                                <div class="w-20">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                                ℃
                            </div>
                            <div class="flex w-30">
                                Huyết áp
                                <div class="w-30">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                                mmHg
                            </div>
                            <div class="flex w-25">
                                Nhịp thở
                                <div class="w-30">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                                lần/phút
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-6">
                                Tim
                            </div>
                            <div class="w-94">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-6">
                                Phổi
                            </div>
                            <div class="w-94">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-6">
                                Thận
                            </div>
                            <div class="w-94">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-12">
                                Thiếu máu
                            </div>
                            <div class="w-88">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                Các bệnh khác
                            </div>
                            <div class="w-85">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="w-100">
                                <b>2. Khám thực thể</b> <i>
                                    (khám phụ khoa, âm hộ, âm đạo, cổ tử cung, tử cung, phần phụ, các bất thường
                                    khác…)
                                </i>
                            </div>
                            <div class="w-100">
                                <textarea class="input-lines" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-100">
                                <b>3. Các xét nghiệm, cận lâm sàng cần làm:</b>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="flex-column w-40">
                                <div class="flex w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Xét nghiệm máu ngoại vi
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Xét nghiệm đông máu
                                    </div>
                                </div>
                                <div class="flex w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Xét nghiệm sinh hóa máu
                                    </div>
                                </div>
                                <div class="flex-column w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Siêu âm
                                    </div>
                                </div>
                                <div class="flex-column w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Sinh thiết
                                    </div>
                                </div>
                            </div>
                            <div class="flex-column w-60">
                                <div class="flex-column w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Xét nghiệm HPV
                                    </div>
                                </div>
                                <div class="flex-column w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Xét nghiệm tế bào cổ tử cung
                                    </div>
                                </div>
                                <div class="flex-column w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Nghiệm pháp VIA/VILI
                                    </div>
                                </div>
                                <div class="flex-column w-100">
                                    <div class="w-80">
                                        <input class="inputCheckBox" type="checkbox" placeholder="">
                                        Soi cổ tử cung
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-7">
                                Khác:
                            </div>
                            <div class="w-73">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>4. Tóm tắt bệnh án:</b>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            IV. CHẨN ĐOÁN KHI VÀO KHOA ĐIỀU TRỊ (Tên bệnh kèm theo mã ICD)
                        </h3>
                    </div>
                </div>
                <div class="row-infor card">
                    <div class="row-info">
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-26">
                                1. Chẩn đoán lúc vào viện:
                            </div>
                            <div class="w-59">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-23">
                                2. Chẩn đoán phân biệt
                            </div>
                            <div class="w-62">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-30">
                                3. Chẩn đoán xác định:
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-12">
                                Bệnh chính:
                            </div>
                            <div class="w-73">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-24">
                                Bệnh kèm theo:(nếu có)
                            </div>
                            <div class="w-61">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100 ml-5 mt-5">
                            <div class="w-20">
                                Biến chứng:(nếu có)
                            </div>
                            <div class="w-65">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="w-13 ml-5">
                                <input class="inputTxt" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="flex w-100">
                        <div class="w-20">
                            <h3 class="text-uppercase">
                                IV. TIÊN LƯỢNG:
                            </h3>
                        </div>
                        <div class="w-80">
                            <input class="inputCham" type="text" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="title card">
                    <div class="flex-column w-100">
                        <h3 class="text-uppercase">
                            VI. KẾ HOẠCH ĐIỀU TRỊ
                        </h3>
                    </div>
                </div>
                <div class="row-infor card">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            Hướng điều trị tiếp theo:
                            <div class="w-100">
                                <textarea class="input-lines" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-40">
                                Biện pháp tránh thai được cung cấp:
                            </div>
                            <div class="w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Không
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Có
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                DCTC
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bao cao su
                            </div>
                            <div class="w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Thuốc viên
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Thuốc tiêm
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-20">
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Thuốc cấy
                            </div>
                            <div class="w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Triệt sản
                            </div>
                            <div class="flex w-30">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Khác,&nbsp;ghi rõ:
                                <div class="w-100">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-40">
                                Chế độ chăm sóc:
                            </div>
                            <div class="w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Cấp I
                            </div>
                            <div class="flex w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Cấp II
                            </div>
                            <div class="flex w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Cấp III
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-70">
                                Tư vấn/giáo dục sức khỏe cho người bệnh và thân nhân của người bệnh:
                            </div>
                            <div class="flex w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Không
                            </div>
                            <div class="flex w-15">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Có:
                            </div>
                        </div>
                        <div class="flex w-100">
                            <textarea class="input-lines" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="page-avoid mt-2">
                    <div class="row-infor flex w-100 text-center mt-25">
                        <div class="w-50">
                        </div>
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                <em>
                                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                                </em>
                            </div>
                            <div class="text-bold justify-content-center">
                                Bác sỹ làm bệnh án
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, ghi rõ họ tên)</em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title card">
                    <div class="w-100">
                        <h3 class="text-uppercase">
                            C. TỔNG KẾT BỆNH ÁN
                        </h3>
                    </div>
                </div>

                <div class="row-infor card">
                    <div class="row-info">
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>1. Tóm tắt quá trình bệnh lý và diễn biến lâm sàng</b>
                                <i>(Đặc điểm khởi phát, các triệu chứng lâm sàng, diễn biến bệnh...):</i>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>2. Những dấu hiệu lâm sàng chính được ghi nhận</b>
                                <i>(có giá trị chẩn đoán trong quá trình điều trị):</i>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <b>3. Tóm tắt kết quả cận lâm sàng có giá trị chẩn đoán</b>
                        </div>
                        <div class="flex w-100">
                            <div class="w-35">
                                Xét nghiệm HPV:
                            </div>
                            <div class="w-25">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bình thường
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bất thường
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-35">
                                Xét nghiệm tế bào cổ tử cung:
                            </div>
                            <div class="w-25">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bình thường
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bất thường
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-35">
                                Nghiệm pháp VIA/VILI:
                            </div>
                            <div class="w-25">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bình thường
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Bất thường
                            </div>
                            <div class="w-20">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Nghi ngờ ung thư
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-10">
                                Siêu âm
                            </div>
                            <div class="w-90">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-15">
                                Soi cổ tử cung
                            </div>
                            <div class="w-85">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-10">
                                Sinh thiết
                            </div>
                            <div class="w-90">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-13">
                                Khác, ghi rõ
                            </div>
                            <div class="w-87">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="flex w-100">
                            <b>4. Phương pháp điều trị: </b>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex">
                                <div class="w-17">
                                    a. Nội khoa:
                                </div>
                                <div class="w-18">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Không
                                </div>
                                <div class="flex w-35">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Khác,&nbsp;ghi rõ:
                                </div>
                            </div>
                            <div class="flex">
                                <div class="w-100">
                                    <textarea class="input-lines" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex">
                                <div class="w-35">
                                    b. Phẫu thuật, thủ thuật:
                                </div>
                                <div class="w-25">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Không
                                </div>
                                <div class="flex w-30">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Có, ghi rõ phương pháp:
                                </div>
                            </div>
                            <div class="flex">
                                <div class="w-100">
                                    <textarea class="input-lines" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            c. Điều trị tiền ung thư cổ tử cung:
                            <div class="flex">
                                <div class="w-35">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Đốt điện/đốt laser/áp lạnh CTC
                                </div>
                                <div class="w-25">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    LEEP cổ tử cung
                                </div>
                            </div>
                        </div>
                        <div class="flex w-100">
                            <div class="w-35">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Khoét chóp cổ tử cung
                            </div>
                            <div class="flex w-65">
                                <input class="inputCheckBox" type="checkbox" placeholder="">
                                Khác,&nbsp;ghi rõ:
                                <div class="w-77">
                                    <input class="inputCham" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div>
                                d. Kế hoạch hóa gia đình
                            </div>
                            <div>
                                Tai biến khi thực hiện biện pháp tránh thai
                            </div>
                            <div class="flex">
                                <div class="w-17">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Chảy máu
                                </div>
                                <div class="w-18">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Nhiễm trùng
                                </div>
                                <div class="flex w-10">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Sốt
                                </div>
                                <div class="flex w-15">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Đau bụng
                                </div>
                                <div class="flex w-25">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Khác,&nbsp;ghi rõ:
                                    <div class="w-98">
                                        <input class="inputCham" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <b>5. Tình trạng ra viện:</b>
                            <div class="flex">
                                <div class="w-17">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Khỏi
                                </div>
                                <div class="w-18">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Đỡ
                                </div>
                                <div class="flex w-25">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Không thay đổi
                                </div>
                                <div class="flex w-25">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Nặng hơn
                                </div>
                            </div>
                            <div class="flex">
                                <div class="w-35">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Tiên lượng nặng xin về
                                </div>
                                <div class="flex w-25">
                                    <input class="inputCheckBox" type="checkbox" placeholder="">
                                    Chưa xác định.
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-100">
                            <div class="flex w-100">
                                <b>6. Hướng điều trị và các chế độ tiếp theo:</b>
                            </div>
                            <div class="flex w-100">
                                <textarea class="input-lines" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-avoid mt-2">
                    <div class="row-infor flex w-100 text-center mt-25">
                        <div class="w-50">
                        </div>
                        <div class="w-50">
                            <div class="justify-content-center flex">
                                <em>
                                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                                </em>
                            </div>
                            <div class="text-bold justify-content-center">
                                Bác sỹ điều trị
                            </div>
                            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                                <em>(Ký, ghi rõ họ tên)</em>
                            </div>
                            <div class="flex justify-content-center ">
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit">Thêm</button>
            </form>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Họ và Tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody id="BAPhuKhoaTable">
    </tbody>
</table>

<script>
    @* // Nút Thêm mới
    $('#btnAddNew').on('click', function () {
        // Hiển thị form nếu đang ẩn, và ngược lại
        $('#baPhuKhoaForm').toggle();

        // Reset form nếu mở lại
        if ($('#baPhuKhoaForm').is(':visible')) {
            $('#baPhuKhoaForm')[0].reset();
            $('input[name="gioiTinh"]').prop('checked', false); // Bỏ chọn giới tính
        }
    }); *@


    // Load data from API
    function loadBAPhuKhoa() {
        $.ajax({
            url: '/QuanLy/BA_PhuKhoa/DanhSachBenhAnPhuKhoa',
            type: 'POST',
            success: function (data) {
                let rows = '';
                data.forEach(phukhoa => {
                    rows += `
                            <tr>
                                <td>${phukhoa.benhNhanId}</td>
                                <td>${phukhoa.hoVaTen}</td>
                                <td>${phukhoa.gioiTinh}</td>
                                <td>${phukhoa.ngaySinh}</td>
                                <td>
                                    <button onclick="editPhuKhoa(${phukhoa.benhNhanId})">Sửa</button>
                                    <button onclick="deletePhuKhoa(${phukhoa.benhNhanId})">Xóa</button>
                                    <button onclick="pdfPerson(${phukhoa.benhNhanId})">In PDF</button>
                                </td>
                            </tr>
                        `;
                });
                $('#BAPhuKhoaTable').html(rows);
            },
            error: function (xhr) {
                alert('Lỗi khi tải dữ liệu: ' + xhr.responseText);
            }
        });
    }
    $('#baPhuKhoaForm').on('submit', function (e) {
        e.preventDefault();
        const gioiTinh = $('input[name="gioiTinh"]:checked').val();

        const phukhoa = {
            hoVaTen: $('#hoVaTen').val(),
            gioiTinh: gioiTinh,
            ngaySinh: $('#ngaySinh').val(),
            ghiChu: $('#ghiChu').val()
        };

        $.ajax({
            url: '/QuanLy/Person/ThemPerson',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(phukhoa),
            success: function (response) {
                alert('Thêm thành công!');
                loadBAPhuKhoa();
                $('#baPhuKhoaForm')[0].reset(); // Reset form
                closeModal();
            },
            error: function (xhr) {
                alert('Lỗi khi thêm dữ liệu: ' + xhr.responseText);
            }
        });
    });


    // Delete person
    function deletePhuKhoa(id) {
        if (!confirm('Bạn có chắc chắn muốn xóa?')) return;

        $.ajax({
            url: `/api/persons/${id}`,
            type: 'DELETE',
            success: function () {
                alert('Xóa thành công!');
                loadBAPhuKhoa();
            },
            error: function (xhr) {
                alert('Lỗi khi xóa: ' + xhr.responseText);
            }
        });
    }

    // Edit person (populate form with data)
    function editPhuKhoa(id) {
        $.ajax({
            url: `/api/persons/${id}`,
            type: 'GET',
            success: function (person) {
                $('#fullName').val(person.fullName);
                $('#gender').val(person.gender);
                $('#birthDate').val(person.birthDate);
                $('#note').val(person.note);
            },
            error: function (xhr) {
                alert('Lỗi khi tải dữ liệu: ' + xhr.responseText);
            }
        });
    }

    // Refresh button
    $('#btnRefresh').on('click', function () {
        $('#baPhuKhoaForm')[0].reset();
    });

    // Load persons on page load
    $(document).ready(function () {
        loadBAPhuKhoa();
    });
</script>

<script>
    // Mở modal
    function openModal() {
        document.getElementById('customModal').style.display = 'block';
    }

    // Đóng modal
    function closeModal() {
        document.getElementById('customModal').style.display = 'none';
    }

    // Đóng modal khi nhấn vào bất kỳ nơi nào bên ngoài nội dung modal
    window.onclick = function (event) {
        const modal = document.getElementById('customModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    };

</script>