@{
    Layout = "~/Views/Shared/_LayoutPDF.cshtml";
}
<style>
    .row-infor {
        font-size: 22px;
    }

    table th,
    table td {
        font-size: 18px !important;
    }

    table tr td {
        padding: 3px !important;
    }

    table tr th {
        padding: 4px 0px !important;
    }

    .inputCham {
        width: 100%;
        font-size: 13pt;
        background-color: transparent;
        border: none;
        border-bottom: 2px dotted #000;
        outline: none;
        padding: 0;
        margin-bottom: 5px;
    }

    .inputCheckBox {
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        outline: none;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        font-size: 13pt;
    }

    .inputTxt {
        font-size: 13pt;
        width: 100%;
        height: 25px;
    }

    .input-lines {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px dotted #000;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px 0;
        font-size: 16px;
        resize: none;
        outline: none;
    }
</style>

<div class="w-100 row-infor flex">
    <div class="w-25">
        <em>Cơ quan chủ quản:&nbsp;</em> <br />
        <em>Cơ sở KB, CB:&nbsp;</em>
    </div>
    <div class="w-50">
        <h2 class="text-uppercase text-center mb-15 mt-15" style="font-weight: 700;">
            BỆNH ÁN NGOẠI TRÚ <br> RĂNG HÀM MẶT
        </h2>
    </div>
    <div class="text-end w-25 fs-22">
        <div>
            <em>MS: BA-18&nbsp;</em>
        </div>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            A. THÔNG TIN CHUNG
        </h3>
    </div>
</div>
<div class="row-infor card text-start">
    <div class="row-info">
        <div class="flex justify-content-between w-100">
            <div class="w-21">
                1. Họ và tên <i>(In hoa)</i>:
            </div>
            <div class="w-79">
                <input class="inputCham" type="text" placeholder="">
            </div>
        </div>
        <div class="flex justify-content-between w-100">
            <div class="w-50">
                <div class="flex">
                    <div class="w-30 text-start">
                        2. Ngày sinh:
                    </div>
                    <div class="w-40">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-30 flex justify-content-end">
                        &nbsp;Tuổi:
                        <input class="inputCheckBox" type="text" placeholder="">
                        <input class="inputCheckBox" type="text" placeholder="">
                        <input class="inputCheckBox" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="w-45">
                <div class="flex">
                    <div class="w-30 text-start">
                        3. Giới tính:
                    </div>
                    <div class="w-20 flex justify-content-end">
                        <input class="inputCheckBox" type="checkbox" placeholder="">
                        Nam
                    </div>
                    <div class="w-20 flex justify-content-end">
                        <input class="inputCheckBox" type="checkbox" placeholder="">
                        Nữ
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between w-100">
            <div class="w-55">
                <div class="flex">
                    <div class="w-25 text-start">
                        4. Điện thoại:
                    </div>
                    <div class="w-40">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="w-45">
                <div class="flex">
                    <div class="w-35">
                        5. Nghề nghiệp:
                    </div>
                    <div class="w-65">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between w-100">
            <div class="w-55">
                <div class="flex">
                    <div class="w-20 text-start">
                        6. Dân tộc:
                    </div>
                    <div class="w-60">
                        <div class="flex">
                            <div class="w-55">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="flex w-20 justify-content-end">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="w-20">&nbsp;</div>
                </div>
            </div>
            <div class="w-45">
                <div class="flex w-100">
                    <div class="w-30 text-start">
                        7. Quốc tịch:
                    </div>
                    <div class="w-70">
                        <div class="flex">
                            <div class="w-70">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="flex w-30 justify-content-end">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between w-100">
            <div class="w-55">
                <div class="flex">
                    <div class="flex w-50">
                        <div class="w-65">
                            8. Địa chỉ: Số nhà
                        </div>
                        <div class="w-35">
                            <input class="inputCham" type="text" placeholder="">
                        </div>
                    </div>
                    <div class="flex w-50">
                        <div class="w-35">
                            Thôn, phố
                        </div>
                        <div class="w-40">
                            <input class="inputCham" type="text" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-45">
                <div class="flex">
                    <div class="w-30 text-start">
                        Xã, phường:&nbsp;
                    </div>
                    <div class="w-70">
                        <div class="flex">
                            <div class="w-55">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="flex w-45 justify-content-end">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-between w-100">
            <div class="w-55">
                <div class="flex w-100">
                    <div class="w-30 text-start">
                        Huyện (Q, Tx):
                    </div>
                    <div class="w-40">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20 flex justify-content-end">
                        &nbsp;
                        <input class="inputCheckBox" type="text" placeholder="">
                        <input class="inputCheckBox" type="text" placeholder="">
                        <input class="inputCheckBox" type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="w-45">
                <div class="flex w-100">
                    <div class="w-36 text-start">
                        Tỉnh, thành phố:&nbsp;
                    </div>
                    <div class="w-64">
                        <div class="flex">
                            <div class="w-80">
                                <input class="inputCham" type="text" placeholder="">
                            </div>
                            <div class="flex w-20 justify-content-end">
                                <input class="inputCheckBox" type="text" placeholder="">
                                <input class="inputCheckBox" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-100">
            <div class="w-15">
                9. Đối tượng:
            </div>
            <div class="w-13">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                BHYT
            </div>
            <div class="w-13">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Thu phí
            </div>
            <div class="w-13">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Miễn
            </div>
            <div class="w-13">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Khác
            </div>
        </div>
        <div class="flex w-50">
            <div class="w-35">
                10. Số thẻ BHYT:
            </div>
            <div class="w-75">
                <input class="inputCham" type="text" placeholder="">
            </div>
        </div>
        <div class="flex w-100">
            <div class="w-47">
                11. Số Căn cước/Hộ chiếu/Số định danh cá nhân:
            </div>
            <div class="w-53">
                <input class="inputCham" type="text" placeholder="">
            </div>
        </div>
        <div class="flex w-100">
            <div class="w-47">
                12. Họ và tên thân nhân của NB khi cần báo tin:
            </div>
            <div class="w-25">
                <input class="inputCham" type="text" placeholder="">
            </div>
            <div class="w-11">
                Điện thoại:
            </div>
            <div class="w-17">
                <input class="inputCham" type="text" placeholder="">
            </div>
        </div>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            B. THÔNG TIN KHÁM BỆNH
        </h3>
    </div>
</div>
<div class="row-infor card text-start">
    <div class="row-info">
        <div class="flex w-100">
            <div class="w-42" style="font-size: 20px;">
                <b>I. LÝ DO VÀO VIỆN, VẤN ĐỀ SỨC KHỎE:</b>
            </div>
            <div class="w-58">
                <input class="inputCham" type="text" placeholder="">
            </div>
        </div>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            II. Hỏi bệnh
        </h3>
    </div>
</div>
<div class="row-infor card text-start">
    <div class="row-info">
        <div class="flex-column w-100">
            <div class="flex w-100">
                <b>1. Quá trình bệnh lý và diễn biến lâm sàng:</b>
                <i>(Đặc điểm khởi phát, các triệu chứng lâm sàng, diễn biến bệnh...)</i>
            </div>
            <div class="flex w-100">
                <textarea class="input-lines" rows="4"></textarea>
            </div>
        </div>
        <div class="flex w-100 text-bold">
            2. Tiền sử có liên quan đến tình trạng bệnh lần này:
        </div>
        <div class="flex w-100">
            <div class="w-15 text-bold">
                Dị ứng:
            </div>
            <div class="w-18">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Không
            </div>
            <div class="flex w-65">
                <div class="w-22">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Có, ghi rõ:
                </div>
                <div class="w-80">
                    <input class="inputCham" type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="flex w-100">
            <div class="w-15 text-bold">
                Bản thân:
            </div>
            <div class="w-18">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Không
            </div>
            <div class="flex w-65">
                <div class="w-22">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Có, ghi rõ:
                </div>
                <div class="w-80">
                    <input class="inputCham" type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="flex w-100">
            <div class="w-15 text-bold">
                Gia đình:
            </div>
            <div class="w-18">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Không
            </div>
            <div class="flex w-65">
                <div class="w-22">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Có, ghi rõ:
                </div>
                <div class="w-80">
                    <input class="inputCham" type="text" placeholder="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            III. KHÁM BỆNH
        </h3>
    </div>
</div>
<div class="row-infor card text-start">
    <div class="row-info">
        <div class="flex w-100">
            <div class="flex-column w-70">
                <div class="flex w-100">
                    <div class="w-22 text-bold">
                        1. Toàn thân:
                    </div>
                    <div class="w-25">
                        <input class="inputCheckBox" type="checkbox" placeholder="">
                        Bình thường
                    </div>
                    <div class="w-50">
                        <input class="inputCheckBox" type="checkbox" placeholder="">
                        Bất thường, ghi rõ:
                    </div>
                </div>
                <div class="flex w-90">
                    <textarea class="input-lines" rows="6"></textarea>
                </div>
            </div>
            <div class="flex-column w-30 border fs-18 " style="font-style: italic;">
                <div class="flex ml-5">
                    <div class="w-17">
                        Mạch:
                    </div>
                    <div class="w-30">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20">
                        lần/ph
                    </div>
                </div>
                <div class="flex ml-5">
                    <div class="w-26">
                        Nhiệt độ:
                    </div>
                    <div class="w-30">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20">
                        ℃
                    </div>
                </div>
                <div class="flex ml-5">
                    <div class="w-27">
                        Huyết áp:
                    </div>
                    <div class="w-30">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20">
                        mmHg
                    </div>
                </div>
                <div class="flex ml-5">
                    <div class="w-27">
                        Nhịp thở:
                    </div>
                    <div class="w-30">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20">
                        lần/ph
                    </div>
                </div>
                <div class="flex ml-5">
                    <div class="w-29">
                        Cân nặng:
                    </div>
                    <div class="w-30">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20">
                        Kg
                    </div>
                </div>
                <div class="flex ml-5">
                    <div class="w-30">
                        Chiều cao:
                    </div>
                    <div class="w-30">
                        <input class="inputCham" type="text" placeholder="">
                    </div>
                    <div class="w-20">
                        Cm
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25 text-bold">2. Khám chuyên khoa</div>
        <div class="flex">
            <div class="w-15">
                Ngoài miệng:
            </div>
            <div class="w-18">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Bình thường
            </div>
            <div class="w-65">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Bất thường, ghi rõ:
            </div>
        </div>
        <div class="flex w-100">
            <textarea class="input-lines" rows="5"></textarea>
        </div>
        <div class="flex">
            <div class="w-15">
                Trong miệng:
            </div>
            <div class="w-18">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Bình thường
            </div>
            <div class="w-65">
                <input class="inputCheckBox" type="checkbox" placeholder="">
                Bất thường, ghi rõ:
            </div>
        </div>
        <div class="flex w-100">
            <textarea class="input-lines" rows="5"></textarea>
        </div>

        <div class="flex-column w-100">
            <div class="flex">
                <div class="w-44 text-bold">
                    3. Các xét nghiệm, cận lâm sàng cần làm:
                </div>
                <div class="w-11">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Không
                </div>
                <div class="w-30">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Có, ghi rõ:
                </div>
            </div>
            <div class="flex w-100">
                <textarea class="input-lines" rows="2"></textarea>
            </div>
        </div>
        <div class="flex-column w-100">
            <div class="flex text-bold">
                4. Tóm tắt bệnh án:
            </div>
            <div class="flex w-100">
                <textarea class="input-lines" rows="6"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            IV. CHẨN ĐOÁN (Tên bệnh kèm theo mã ICD)
        </h3>
    </div>
</div>
<div class="row-infor card">
    <div class="row-info">
        <div class="flex w-100 ml-5 mt-5">
            <div class="w-12">
                Bệnh chính:
            </div>
            <div class="w-73">
                <input class="inputCham" type="text" placeholder="">
            </div>
            <div class="w-13 ml-5">
                <input class="inputTxt" type="text" placeholder="">
            </div>
        </div>
        <div class="flex w-100 ml-5 mt-5">
            <div class="w-24">
                Bệnh kèm theo:(nếu có)
            </div>
            <div class="w-61">
                <input class="inputCham" type="text" placeholder="">
            </div>
            <div class="w-13 ml-5">
                <input class="inputTxt" type="text" placeholder="">
            </div>
        </div>
        <div class="flex w-100 ml-5 mt-5">
            <div class="w-20">
                Biến chứng:(nếu có)
            </div>
            <div class="w-65">
                <input class="inputCham" type="text" placeholder="">
            </div>
            <div class="w-13 ml-5">
                <input class="inputTxt" type="text" placeholder="">
            </div>
        </div>
    </div>
</div>
<div class="title card">
    <div class="flex-column w-100">
        <div class="w-100">
            <h3 class="text-uppercase">
                V. KẾ HOẠCH ĐIỀU TRỊ
            </h3>
        </div>
        <div class="flex w-100">
            <textarea class="input-lines" rows="3"></textarea>
        </div>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            VI. QUÁ TRÌNH ĐIỀU TRỊ
        </h3>
    </div>
</div>
<div class="row-infor">
    <div class="table">
        <table class="w-100">
            <thead>
                <tr class="text-center">
                    <th colspan="2">Ngày</th>
                    <th colspan="3">Diễn biến bệnh </th>
                    <th colspan="2">Xử trí</th>
                    <th colspan="3">Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">Test</td>
                    <td colspan="3"></td>
                    <td colspan="2"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2">Test</td>
                    <td colspan="3"></td>
                    <td colspan="2"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2">Test</td>
                    <td colspan="3"></td>
                    <td colspan="2"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="2">Test</td>
                    <td colspan="3"></td>
                    <td colspan="2"></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="title card">
    <div class="w-100">
        <h3 class="text-uppercase">
            VII. THỜI GIAN ĐIỀU TRỊ
        </h3>
    </div>
</div>
<div class="row-infor card text-start">
    <div class="row-info">
        <div class="flex w-100">
            <div class="w-16">
                Điều trị từ ngày&nbsp;
            </div>
            <div class="flex w-15">
                <input class="inputCham" type="text" placeholder="">&nbsp;
            </div>
            đến ngày&nbsp;
            <div class="flex w-15">
                <input class="inputCham" type="text" placeholder="">
            </div>
        </div>
    </div>
</div>
<div class="page-avoid mt-2">
    <div class="row-infor flex w-100 text-center mt-25">
        <div class="w-50">
            <div class="justify-content-center flex">
                <em>
                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                </em>
            </div>
            <div class="text-bold justify-content-center">
                Bác sỹ điều trị
            </div>
            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                <em>(Ký, ghi rõ họ tên)</em>
            </div>
            <div class="flex justify-content-center ">
            </div>
        </div>
        <div class="w-50">
            <div class="justify-content-center flex">
                <em>
                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                </em>
            </div>
            <div class="text-bold justify-content-center">
                Đại diện cơ sở KB, CB
            </div>
            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                <em>(Ký, đóng dấu) </em>
            </div>
            <div class="flex justify-content-center ">
            </div>
        </div>
    </div>
</div>
<div class="title card" style="height: 5%;">
</div>
<div class="title card mt-10">
    <div class="w-100">
        <h3 class="text-uppercase">
            C. TỔNG KẾT BỆNH ÁN
        </h3>
    </div>
</div>

<div class="row-infor card">
    <div class="row-info">
        <div class="flex-column w-100">
            <div class="flex w-100">
                <b>1. Tóm tắt quá trình bệnh lý và diễn biến lâm sàng</b>
                <i>(Đặc điểm khởi phát, các triệu chứng lâm sàng, diễn biến bệnh...):</i>
            </div>
            <div class="flex w-100">
                <textarea class="input-lines" rows="6"></textarea>
            </div>
        </div>
        <div class="flex-column w-100">
            <div class="flex w-100">
                <b>2. Những dấu hiệu lâm sàng chính được ghi nhận</b>
                <i>(có giá trị chẩn đoán trong quá trình điều trị):</i>
            </div>
            <div class="flex w-100">
                <textarea class="input-lines" rows="4"></textarea>
            </div>
        </div>
        <div class="flex w-100">
            <b>3. Tóm tắt kết quả cận lâm sàng có giá trị chẩn đoán</b>
        </div>
        <div class="flex-column w-100">
            <div class="flex">
                <div class="w-25">
                    Nội khoa:
                </div>
                <div class="w-15">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Không
                </div>
                <div class="flex w-35">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Có,&nbsp;ghi rõ:
                </div>
            </div>
            <div class="flex">
                <div class="w-100">
                    <textarea class="input-lines" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="flex-column w-100">
            <div class="flex">
                <div class="w-25">
                    Phẫu thuật, thủ thuật:
                </div>
                <div class="flex w-30">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Có, ghi rõ phương pháp:
                </div>
            </div>
            <div class="flex">
                <div class="w-100">
                    <textarea class="input-lines" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="flex-column w-100">
            <b>5. Tình trạng ra viện:</b>
            <div class="flex">
                <div class="w-25"></div>
                <div class="w-15">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Khỏi
                </div>
                <div class="w-10">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Đỡ
                </div>
                <div class="flex w-20">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Không thay đổi
                </div>
                <div class="flex w-20">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Nặng hơn
                </div>
            </div>
            <div class="flex">
                <div class="w-25"></div>
                <div class="w-15">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Tử vong
                </div>
                <div class="flex w-30">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Tiên lượng nặng xin về
                </div>
                <div class="flex w-25">
                    <input class="inputCheckBox" type="checkbox" placeholder="">
                    Chưa xác định.
                </div>
            </div>
        </div>
        <div class="flex-column w-100">
            <div class="flex w-100">
                <b>6. Hướng điều trị và các chế độ tiếp theo:</b>
            </div>
            <div class="flex w-100">
                <textarea class="input-lines" rows="2"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="page-avoid mt-2">
    <div class="row-infor flex w-100 text-center mt-25">
        <div class="w-50">
        </div>
        <div class="w-50">
            <div class="justify-content-center flex">
                <em>
                    Ngày&nbsp;@DateTime.Now.Day&nbsp;tháng&nbsp;@DateTime.Now.Month&nbsp;năm&nbsp;@DateTime.Now.Year
                </em>
            </div>
            <div class="text-bold justify-content-center">
                Bác sỹ điều trị
            </div>
            <div class="fs-19 justify-content-center mb-kyTen mt-5">
                <em>(Ký, ghi rõ họ tên)</em>
            </div>
            <div class="flex justify-content-center ">
            </div>
        </div>
    </div>
</div>